name: Test

on:
  push:
    branches:
      - '**'  # Run on push to any branch
  pull_request:
    branches:
      - main  # Run on PRs to main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
    
    - name: Run tests
      run: make test
